@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;

    nav>ul {
        display: flex;
        padding: 0;

        li {
            list-style-type: none;
            margin: 0 15px;

            a {
                color: white;
                text-decoration: none;
                letter-spacing: 2.5px;
            }
        }
    }

    div.searchCase {
        @include flexCenter();

        input[type="text"] {
            border: none;
            padding: 10px 15px;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            font-family: var(--montserrat);
            background-color: rgb(255, 207, 148);
            min-width: 350px;
        }

        button {
            background-color: rgb(255, 207, 148);
            padding: 10px 15px;
            color: black;
            @include flexCenter();
            border: none;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            cursor: pointer;
            font-family: var(--montserrat);
        }
    }

    div.caseTopFlop {
        top: 25px;
        left: 50px;

        button {
            width: 35px;
            height: 35px;
            border: none;
            border-radius: 50%;
            background-color: rgb(255, 207, 148);
            cursor: pointer;
        }
    }
}

section.gridMovies {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 280px);
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 55px;
}